<%- include('./layouts/head')%>
<%- include('./layouts/sidebar')%>

<section class="content">
    <div class="container-fluid">
<h1>Dashboard </h1>
    </div>
</section>
<%- include('./layouts/bottom')%>