<%- include('./layouts/head')%>
<%- include('./layouts/sidebar')%>

<section class="content">
    <div class="container-fluid">
<h1>Dashboard </h1>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange">
                        <div class="icon">
                            <div class="chart chart-pie">30, 35, 25, 8</div>
                        </div>
                        <div class="content">
                            <div class="text">USAGE</div>
                            <div class="number">98%</div>
                        </div>
                    </div>
                </div>
    </div>
</section>
<%- include('./layouts/bottom')%>